<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="p-8 border-2">
        <div class="flex justify-between">
          <a class="text-xl border-2 px-4 py-1 rounded-xl bg-gray-600 text-white" href="/events">List of Events</a>
          <h2 class="text-3xl">Event Store</h2>
          <a class="text-xl border-2 px-4 py-1 bg-green-500 text-white rounded-xl" href="/events/new">Add event</a>
        </div>
    </header>


    <section class="h-screen">
        <div class="mt-5 flex justify-center items-center">
            <form action="/comments/<%=comments._id%>/edit" method="POST">
                <textarea class="border-2 p-2" name="comment" id="" cols="40" rows="5" placeholder="Message . . . . "><%=comments.comment%></textarea>
                <input type="submit" class="block border-2 px-4 py-1 bg-blue-500 text-white rounded-md">
            </form>
        </div>
    </section>
</body>
</html>